table {
  width: 100%;
  text-align: center;
}

.summary {
  overflow: hidden;
  max-width: 75ch;
}

/* #image-container {
  height: 400px;
} */

#image-on-page {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.image-card-top {
  max-width: 375px;
  max-height: 500px;
}



.card-title h3 {
  text-decoration: underline;
}

span {
  white-space: nowrap;
}

#button {
  display: block;
}

.custom-file-label::after {
    left: 0;
    right: auto;
    border-left-width: 0;
    border-right: inherit;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:grey; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* @media (min-width: @screen-sm-min) {
 } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: @screen-md-min) {

 } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) {

 } */
