/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  overflow-x: hidden;
}

table {
  width: 100%;
  text-align: center;
}

.summary {
  overflow: hidden;
  max-width: 75ch;
}

#uploaded_image {
  max-height: 400px;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.favorite-recipe-card img {
  max-width: 312px;
}

#recipe {
  height: 411px;
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.static {
  position: static;
}

#heart_container, #delete_container {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
}

a:hover, #heart_container:hover, #delete_container:hover, #file_input_form:hover, .recipe-card:hover {
  cursor: pointer;
}

#recipe_summary a {
  text-decoration: none;
  color: black;
  pointer-events: none;
}

.noscroll {
  position: fixed;
}

.instructions {
  font-size: 15px;
}

.freeze {
  max-height: 100vh;
  overflow-y: hidden;
}

#percentage_bar_upload, #percentage_bar_download {
    z-index: 5;
    display: block;
    text-align: left;
    width: 0;
    height: 3px;
    background:blue;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

#custom_file_label {
  border: white;
  border-radius: 15px;
}

.custom-file-input.input ~ .custom-file-label::after {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Font Awesome 5 Free", "Helvetica Neue", Helvetica, Arial, sans-serif;
  content: "\f03e  Choose an image or drag it here";
  width: 100%;
  color:#007bff;
  background-color: white;
  border-radius: 5px;
  border: 2px #007bff dashed;
  height: 125px;
  padding-top: 45px;
  cursor: pointer;
        box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2), 0 8px 8px -8px rgba(0, 0, 0, 0.9);
}

.desktop-space-form {
  top: 100px;
}

#file_input_form {
  height: 125px;
  top: 50px;
}


#open_side_menu_button {
  border-bottom-right-radius: 0px!important;
  border-top-right-radius: 0px!important;
}

/* #close_side_menu_button, #toggle_favorites_button, #toggle_diet_button {
  z-index: 7;
} */

#close_preview_x_button {
  z-index: 5;
  position: absolute;
  top: 8px;
  right: 8px;
}

#recipe_title {
  width: 90%;
}

#search_button {
  border-bottom-left-radius: 0px!important;
  border-top-left-radius: 0px!important;
}

.recipe-progress-hidden {
    display: hidden;
    width: 0%;
    height: 3px;
    background:blue;
}

.favorite-recipe-progress-hidden {
    display: hidden;
    width: 0%;
    height: 3px;
    background:blue;
}

.custom-file:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.recipe-progress-visible {
    visibility: visible;
    width: 100%;
    height: 3px;
    background:blue;
    -webkit-transition: 10s ease-in-out;
    -o-transition: 10s ease-in-out;
    transition: 10s ease-in-out;
}

.favorite-recipe-progress-visible {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  visibility: visible;
  width: 100%;
  height: 3px;
  background:blue;
  -webkit-transition: 10s ease-in-out;
  -o-transition: 10s ease-in-out;
  transition: 10s ease-in-out;
}

#recipes_download_container {
  height: 100%;
}

.favorite-recipe-progress-visible {
  visibility: visible;
  width: 100%;
  height: 3px;
  background:blue;
  -webkit-transition: 5s ease-in-out;
  -o-transition: 5s ease-in-out;
  transition: 5s ease-in-out;
}

.recipe-card > .card-body {
  height: 175px;
  overflow-y: auto;
}

.favorite-recipe-card > .card-body {
  height: 175px;
  overflow-y: auto;
}

.d-none {
  display: none;
}

#heart_container:hover, #delete_container:hover {
  -webkit-box-shadow: inset 0 0 0 2px red;
          box-shadow: inset 0 0 0 2px red;
}

.recipe-card, .favorite-recipe-card {
  -webkit-box-shadow: 0 0 5px rgba(33,33,33,.2);
          box-shadow: 0 0 5px rgba(33,33,33,.2);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.no-click {
  pointer-events: none;
  filter: brightness(75%);
}

.favorited {
    -webkit-box-shadow: 0 0 10px rgba(206, 8, 8, 0.616);
          box-shadow: 0 0 10px rgba(206, 8, 8, 0.616);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}


.recipe-card:hover, .favorite-recipe-card:hover {
  -webkit-transform: translateY(-.5rem);
      -ms-transform: translateY(-.5rem);
          transform: translateY(-.5rem);
  -webkit-box-shadow: 0 0 15px rgba(33,33,33,.2);
          box-shadow: 0 0 15px rgba(33,33,33,.2);
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.favorited:hover {
    -webkit-transform: translateY(-.5rem);
      -ms-transform: translateY(-.5rem);
          transform: translateY(-.5rem);
  -webkit-box-shadow: 0 0 15px rgba(206, 8, 8, 0.616);
          box-shadow: 0 0 15px rgba(206, 8, 8, 0.616);
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.favorite-recipes-hidden, .diet-menu-hidden, .side-menu-hidden {
  z-index: 5;
  min-height: 100vh;
  height: 100%;
  width: 0px;
  top: 0;
  left: -105vw;
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-right: 3px black solid;
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
  background-color: white;
  display: none;
}

.close-side-menu-button-hidden  {
  position: fixed;
  top: 9px;
  right: 2000px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.favorites-toggle-hidden {
  position: fixed;
  top: 2px;
  left: -300px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.diet-toggle-hidden {
  position: fixed;
  top: 2px;
  left: -300px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.close-side-menu-button-visible {
  position: fixed;
  top: 9px;
  right: 13px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.favorite-sticky-div-hidden {
    position: -webkit-sticky;
  position: sticky;
  top: -1px;
  width: 0px;
  right: -1901px;
  height: 0px;
  z-index: 0;
  background-color: #ffffff;
        box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2), 0 8px 8px -8px rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.favorite-sticky-div-visible {
    position: -webkit-sticky;
  position: sticky;
  top: -1px;
  height: 50px;
  z-index: 6;
  right: 0px;
  width: 100%;
  background-color: #ffffff;
        box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2), 0 8px 8px -8px rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.favorites-toggle-visible {
  position: fixed;
  top: 2px;
  left: 10px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 7;
}

.diet-toggle-visible {
  position: fixed;
  top: 2px;
  left: 140px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}

/* #toggle_favorites_button {
  top: 2px;
}

#toggle_diet_button {
  top: 2px;
  left: 130px;
} */
.favorite-recipes-visible, .diet-menu-visible, .side-menu-visible {
  z-index: 5;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-right: 3px black solid;
  -webkit-box-shadow: 5px 5px  rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px  rgba(0, 0, 0, 0.4);
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.toggle {
  width: auto;
  height: 28px;
}

#favorite_recipes_element {
  overflow-y: auto;
}

#diet_menu {
  max-width: 360px;
  font-size: 20px;
}

#back_to_top_button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 50;
}

#nav_container {
  position: fixed;
  bottom: 0px;
  z-index: 1000;
}

#back_to_top_arrow {
  height: 25px;
}

#button {
  z-index: 1;
}

.card-title {
  text-decoration: underline;
  color: black;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card-title:hover {
  color: blue;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}


span {
  white-space: nowrap;
}

#modal_container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
    /* position: relative; */
}


.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

#modal_container img {
  max-width: 90%;
  height: 250px;
}

#overlay, #overlay_preview {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

#overlay {
  z-index: 2;
}

#overlay_preview {
  z-index: 11;
}

#favorite_recipes_container img {
  max-width: 90%;
}

#search_recipes_container img {
  max-width: 90%;
}

.recipe-card {
  min-width: 268px;
  max-width: 268px;
}

.favorite-recipe-card {
  min-width: 268px;
  max-width: 268px;
}

#form {
  z-index: 3;
  background-color: #f7f7f7;
}

/* .custom-file-label:focus, .custom-file-label:active {
  border-color: #FFFFFF;
  outline: none;
} */

@media only screen and (max-width: 1199px) {
    .search-results-space {
      top: 80px;
    }

    #user_input_container {
        box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2), 0 8px 8px -8px rgba(0, 0, 0, 0.9);
}

}

@media only screen and (min-width: 1200px) {
    #form {
    position: fixed;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  #user_input_container {
      box-shadow: none;
}

}

/* Galaxy Note 3 */
@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 1) {
        .main-content-right {
      right: 0px;
    }

    .form-element-left {
      left: 0px;
    }
    .favorite-recipes-visible {
      height: auto;
    }
  .custom-file-input.input ~ .custom-file-label::after {
  font-family: "Font Awesome 5 Free", "Helvetica Neue", Helvetica, Arial, sans-serif;
  content: "\f03e   Choose Image";
  width: 100%;
  color: white;
  background-color:#007bff;
  border-radius: 4px;
  border: none;
  height: 100%;
  padding-top: 6px;

  }

  .desktop-space-form {
    top: 0px;
  }
  #file_input_form {
    height: 0px;
    top: 0px;
  }

  .modal-dialog,
  .modal-content {
    /* 80% of window height */
    height: 80%;
  }

  .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
  }

    #search_results_section {
    top: 0px !important;
  }

  }

/* iPhone 6, 6S, 7, 8 Portrait and Landscape */
@media only screen
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-content-right {
      right: 0px;
    }

    .form-element-left {
      left: 0px;
    }
    .favorite-recipes-visible {
      height: auto;
    }
  .custom-file-input.input ~ .custom-file-label::after {
  font-family: "Font Awesome 5 Free", "Helvetica Neue", Helvetica, Arial, sans-serif;
  content: "\f03e   Choose Image";
  width: 100%;
  color: white;
  background-color:#007bff;
  border-radius: 4px;
  border: none;
  height: 100%;
  padding-top: 6px;
  }

  #user_input_container {
        box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2), 0 8px 8px -8px rgba(0, 0, 0, 0.9);
}

  .desktop-space-form {
    top: 0px;
  }
  #file_input_form {
    height: 0px;
    top: 0px;
  }

  .modal-dialog,
  .modal-content {
    /* 80% of window height */
    height: 80%;
  }

  .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
  }

    #search_results_section {
    top: 0px !important;
  }
}

@media only screen
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-y: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

/* iPhone 6, 7, 8 Landscape Only
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .search-results-space {
        top: 0px;
    }

  #search_results_section {
    top: 0px !important;
  }


} */

/* iPad Portrait and Landscape
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .main-content-right {
      right: 0px;
    }

    .form-element-left {
      left: 0px;
    }
    .favorite-recipes-visible {
    height: auto;
    }

        .custom-file-input.input ~ .custom-file-label::after {
  font-family: "Font Awesome 5 Free", "Helvetica Neue", Helvetica, Arial, sans-serif;
  content: "\f03e   Choose Image";
  width: 100%;
  color: white;
  background-color:#007bff;
  border-radius: 4px;
  border: none;
  height: 100%;
  padding-top: 6px;
  }

  .desktop-space-form {
    top: 0px;
  }

      .search-results-space {
      top: 0px;
    }
} */

/* iPad Portrait Only
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  .recipe-card, .favorite-recipe-card {
    min-width: 215px;
    max-width: 215px;
    min-height: 323px;
  }
  #favorite_recipes_container img {
    max-width: 193px;
  }

  #search_recipes_container img {
    max-width: 90%;
  }
} */

/* @media only screen and (max-width: 414px) {
  #modal_button_container button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 812px) {
.modal-dialog,
.modal-content {
    top: -5px;
    height: 80%;
    width: 87%;
  }
} */

.custom-file-label:focus,.custom-file-label:active,
.custom-file-label:active:focus:not(:disabled):not(.disabled) {
  border-color: white;
  box-shadow: none;
  outline: none;
}

/* scrollbar styling */

/* ::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    width: 8px;
    border: none;
}

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #007bff;
}

::-webkit-scrollbar-track {
    background-image: url("https://i.imgur.com/IjSEZ77.png");
    background-color: white;
    background-repeat: repeat-y;
    background-size: contain;
} */

* {
  scrollbar-width: thin;
  scrollbar-color: grey #f8f9fa;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f8f9fa;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid #f8f9fa;
}
