table {
  width: 100%;
  text-align: center;
}

.summary {
  overflow: hidden;
  max-width: 75ch;
}

/* #image-container {
  height: 400px;
} */

#image-on-page {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.image-card-top {
  max-width: 375px;
  max-height: 500px;
}

#button {
  z-index: 1;
}

.card-title h3 {
  text-decoration: underline;
}

span {
  white-space: nowrap;
}

.custom-file-label::after {
    left: 0;
    right: auto;
    border-left-width: 0;
    border-right: inherit;
}

.side-menu-hidden{
  z-index: 3;
  height: 100vh;
  width: 350px;
  position: absolute;
  top: 0;
  left: -355px;
  transition: 0.3s ease-in-out;
  border-right: 3px black solid;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.side-menu-visible {
  z-index: 3;
  height: 100vh;
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  border-right: 3px black solid;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
  background-color: white;
}

/* @media screen and (max-height: 450px) {

} */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* @media (min-width: @screen-sm-min) {
 } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: @screen-md-min) {

 } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) {

 } */
