table {
  width: 100%;
  text-align: center;
}

.summary {
  overflow: hidden;
  max-width: 75ch;
}

/* #image-container {
  height: 400px;
} */

.progress {
    display: block;
    /* text-align: center; */
    width: 0;
    height: 3px;
    background:blue;
    transition: width .3s;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}

#imageProgress {
  display: block;
  text-align: left;
  width: 0;
  height: 3px;
  background:blue;
  transition: width .3s;
}
#imageProgress.hide {
  opacity: 0;
  transition: opacity 1.3s;
}

#image-on-page, #myImage {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  visibility: hidden;
}

/* #imageProgress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      display: block;
    text-align: center;
    width: 0;
    height: 3px;
    background:blue;
    transition: width .3s;
} */



/* progress[value] {
  -webkit-appearance: none;
   appearance: none;

  width: 0%;
  height: 3px;
}

progress[value]::-webkit-progress-value {
  background-image: blue;
} */

/* ::-webkit-progress-bar {
  background-color: blue;
} */

/* #imageProgress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
} */

.image-card-top {
  max-width: 375px;
  max-height: 500px;
}

#button {
  z-index: 1;
}

.card-title h3 {
  text-decoration: underline;
}

span {
  white-space: nowrap;
}

.custom-file-label::after {
    left: 0;
    right: auto;
    border-left-width: 0;
    border-right: inherit;
}

.side-menu-hidden{
  z-index: 3;
  height: 100vh;
  width: 350px;
  position: absolute;
  top: 0;
  left: -355px;
  transition: 0.3s ease-in-out;
  border-right: 3px black solid;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.side-menu-visible {
  z-index: 3;
  height: 100vh;
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  border-right: 3px black solid;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
  background-color: white;
}

/* @media screen and (max-height: 450px) {

} */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* @media (min-width: @screen-sm-min) {
 } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: @screen-md-min) {

 } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) {

 } */
